extract_evidence/src/main/resources/in/
extract_evidence/src/main/resources/out/
extract_evidence/.settings/
extract_evidence/target/
extract_evidence/lib/
extract_evidence/.project
extract_evidence/.classpath
.DS_Store





